<div class="ui violet large inverted menu">
  <div class="ui container">
    <a class="item">
      <i class="universal access icon"></i> Chatroom
    </a>
    <a class="item">
      <i class="envelope icon"></i> Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user circle icon"></i> Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="sign-in icon"></i> Log In</a>
          <a class="item"><i class="plus icon"></i> Sign Up </a>
          <a class="item"><i class="sign-out icon"></i> Log Out</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
