<div class="ui violet large inverted menu">
  <div class="ui container">
    <%= link_to root_path, class: "item" do %>
      <i class="universal access icon"></i> Chatroom
    <% end %>
    <a class="item">
      <i class="envelope icon"></i> Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user circle icon"></i> Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if !logged_in? %>
            <%= link_to login_path, class: "item" do %>
              <i class="sign-in icon"></i> Log In
            <% end %>
            <%= link_to login_path, class: "item" do %>
              <i class="user plus icon"></i> Sign Up
            <% end %>
          <% else %>
            <%= link_to logout_path, method: :delete, class: "item" do %>
              <i class="sign-out icon"></i> Log Out
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
